
.game2container{
  text-align: center;
  display: block;
  margin: auto;
}
#game2{
  overflow-x: visible;
  overflow-y: visible;
  overflow: visible;
  display: block;
  margin: 0 auto;

}
canvas{
  margin: auto;
  border: 20px solid black;
}
