<div id="about" >
  <div class="modal-textbox">

<h3 class="close" ng-click="ctrl.closeAbout()">x</h3>
<h2>About Us</h2>
<p>Please checkout our Github as well as shoot us an email! We look forward to hearing from you! </p>
<h3>Blake Harris</h3>
<img ng-src="./public/assets/blake.png" alt=""/>
<a href="https://github.com/harrisblake85">Blake's Git</a>
<h3>Hector Guevara</h3>
<a href="https://github.com/hectorlito">Hector's Git</a>
<h3>Jaq Dunham</h3>
<img src="public/assets/jaq.png" alt=""/>
<a href="https://github.com/goodbye-angel">Jaq's Git</a>
</div>
</div>
