<div ng-if='!ctrl.user.logged'>


  <div id="logreg">
    <div class="modal-textbox">


  <h3 class="close" ng-click="ctrl.closelogreg()">x</h3>

  <p>Log In</p>
  <form ng-submit='ctrl.loginUser()'>
    <input type="text" placeholder="username" ng-model="ctrl.loginForm.username" />
    <input type="password" placeholder="password" ng-model="ctrl.loginForm.password" />
    <input class="button" type="submit" value="Log In"/>
  </form>





      <p>{{ctrl.error}}</p>

      <small>Register</small>
      <form ng-submit='ctrl.registerUser()'>
        <input type="text" placeholder="username" ng-model="ctrl.newUserForm.username" required/>
        <input type="password" placeholder="password" ng-model="ctrl.newUserForm.password" required/>
        <input type="submit" class='button'/>
      </form>

      <form ng-if='ctrl.user.logged' ng-submit='ctrl.logout()'>
        <input type="submit" value="logout" value="Register"/>
      </form>
    </div>
  </div>


  <form ng-if='ctrl.user' ng-submit='ctrl.logout()'>
    <input class="button" type="submit" value="Logout" />
  </form>

</div>

</div>
