<div ng-if='!ctrl.user.logged'>

  <div id="logreg">
    <div class="modal-textbox">


      <small>Log In</small>
      <form ng-submit='ctrl.loginUser()'>
        <input type="text" placeholder="username" ng-model="ctrl.loginForm.username" />
        <input type="password" placeholder="password" ng-model="ctrl.loginForm.password" />
        <input type="submit" />
      </form>

      <p>{{ctrl.error}}</p>

      <small>Register</small>
      <form ng-submit='ctrl.registerUser()'>
        <input type="text" placeholder="username" ng-model="ctrl.newUserForm.username" required/>
        <input type="password" placeholder="password" ng-model="ctrl.newUserForm.password" required/>
        <input type="submit" />
      </form>

      <form ng-if='ctrl.user.logged' ng-submit='ctrl.logout()'>
        <input type="submit" value="logout" />
      </form>
      <h3 ng-click="ctrl.closelogreg()">x</h3>
    </div>
  </div>
</div>
