<div class="behrgood">
  <div ng-if="ctrl.shownav === false">
    <div ng-click="ctrl.openNav();" id="navicon-all">
      <div class="navicon"></div>
      <div class="navicon"></div>
      <div class="navicon"></div>
    </div>
  </div>

  <div ng-if="ctrl.shownav">
    <div ng-click="ctrl.closeNav()" id="navicon-all">
      <div class="navicon"></div>
      <div class="navicon"></div>
      <div class="navicon"></div>
    </div>
  </div>
  <div ng-show="ctrl.shownav" id="mySidenav" class="sidenav">

    <p ng-click='ctrl.openlogreg()' id="openlogreg">Log In/Register</p>

    <p ng-click='ctrl.openProfile()' >Profile</p>
    <p ng-click='ctrl.openAbout()'>About Us</p>
    <p ng-click='ctrl.openContact()'>Contact Us</p>
    <p ng-click='ctrl.openPlayers()'>All Players</p>
  </div>
</div>
