<div id="profile">
  <div class="modal-textbox">

    <h2>PROFILE</h2>
    <h3 class="close" ng-click="ctrl.closeProfile()">x</h3>
    <p>Name: {{ctrl.user.username}}</p>
    <p><img class="profile-img" ng-src="{{ctrl.user.avatar}}" alt="profile picture"></p>
    <p>About me: {{ctrl.user.aboutme}}</p>
    <button ng-click="ctrl.useredit=true" type="button" placename="button">EDIT Profile</button>

    <div ng-if="ctrl.useredit">
      <form ng-submit="ctrl.editUser()">
        <input ng-model="ctrl.user.username" type="text" name="" value="">
        <input ng-model="ctrl.user.avatar" type="text" name="" value="">
        <input ng-model="ctrl.user.aboutme" type="text" name="" value="">
        <input type="hidden" ng-model="ctrl.user._id">
        <button type="submit" name="button">Change Me</button>
        <button ng-click="ctrl.deleteUser()" type="button" name="button">Delete Account</button>
      </form>

    </div>
  </div>

</div>
