<div id="profile">
  <div class="modal-textbox">

    <h2>PROFILE</h2>
    <h3 class="close" ng-click="ctrl.closeProfile()">x</h3>
    <p>Name: {{ctrl.user.username}}</p>
    <p><img class="profile-img" ng-src="{{ctrl.user.avatar}}" alt="profile picture"></p>
    <p>About me: {{ctrl.user.aboutme}}</p>
    <center><button ng-click="ctrl.useredit = !ctrl.useredit" type="button" placename="button">Edit Profile</button></center>

    <div ng-if="ctrl.useredit">
      <form ng-submit="ctrl.editUser()">
        <input ng-model="ctrl.user.username" type="text" value="{{ctrl.user.username}}">
        <input ng-model="ctrl.user.avatar" type="text" value="{{ctrl.user.avatar}}">
        <input ng-model="ctrl.user.aboutme" type="text" value="{{ctrl.user.aboutme}}">
        <input type="hidden" ng-model="ctrl.user._id">
        <button type="submit" name="button">Change Me</button>
        <button class="delete" ng-click="ctrl.deleteUser()" type="button" name="button">Delete Account</button>
      </form>
    </div>

  </div>
</div>
